.currency {
  &-title {
    margin: 30px 0 24px 24px;
  }

  &-list {
    width: calc(100% - 12px * 2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 48px;
    grid-auto-rows: minmax(160px, auto);

    &-item {
      padding: 12px 0 8px 16px;
      height: 100%;
      box-sizing: border-box;

      &-price {
        line-height: 1.5;
        color: rgb(245 165 30);
      }

      &-volume {
        color: rgb(150 150 150);

        & > p {
          line-height: 1.5;
          font-weight: 600;
        }
      }
    }
  }
}
